html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: ivory;
}

.back-btn {
  position: absolute;
  bottom: 16px;
  left: 16px;
  font-size: 18px;
  user-select: none;
}

.back-btn:hover {
  cursor: pointer;
}

.ui-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1s ease-out;
}

.status {
  position: absolute;
  bottom: 16px;
  right: 16px;
  /* pointer-events: all; */
  display: flex;
  gap: 8px;
  flex-direction: column;
  background-color: white;
  padding: 4px 8px;
}

.need {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.debug {
  position: absolute;
  top: 30%;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: white;
  padding: 4px 8px;
  pointer-events: all;
}
