html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: ivory;
}

.back-btn {
  position: absolute;
  bottom: 16px;
  left: 16px;
  font-size: 18px;
  user-select: none;
}

.back-btn:hover {
  cursor: pointer;
}

.ui-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1s ease-out;
}

.status {
  position: absolute;
  bottom: 16px;
  right: 16px;
  /* pointer-events: all; */
  display: flex;
  gap: 8px;
  flex-direction: column;
  background-color: white;
  padding: 4px 8px;
}

.need {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.debug {
  position: absolute;
  top: 30%;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: white;
  padding: 4px 8px;
  pointer-events: all;
}

.food-ui {
  position: absolute;
  height: 100%;
  width: 100%;
}

.food-container {
  position: absolute;
  bottom: 16px;
  width: 960px;
  left: calc(50% - 480px);
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  gap: 24px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 16px;
  pointer-events: all;
}

.food-item {
  border: 1px solid white;
  border-radius: 16px;
  height: 100px;
  width: 100px;
  color: white;
  flex-shrink: 0;
}

.food-item:hover {
  cursor: pointer;
}

.food-back-btn {
  position: absolute;
  bottom: 16px;
  left: 16px;
  font-size: 18px;
  user-select: none;
  pointer-events: all;
}
